<!-- ngModel es una directiva que trabaja en los formulario por eso debemos agregar un modulo en el 
  archivo app.module.ts que lo obtendremos del paquete de angular/form -->
<!-- Cualquier edición que haga en el input, se verá reflejado en el {{ title }}-->
<input type="text" [(ngModel)]="title">
<!-- String Interpolation - acá podemos adjuntar variables e imprimirlas en nuestro HTML -->
<!-- Con esto puedes ejecutar o concatenar instrucciones de JavaScript -->
{{ 1 + 2 }}
{{ 'Hola mundo' }}
{{ title }}

<!-- ngIf - condicionales -->
<!-- Si la condición (1 === 1) es true, mostrará el elemento, si no no lo va a mostrar -->
<!-- Si la variable title es Jean se va a mostrar el contenido del div -->
<div *ngIf="title === 'Jean'">
  este es un div
</div>

<!-- ngSwitch -->
<!-- Si el title es de valor jean, aparecerá el primer parrafo, si es julian, el segundo parrafo -->
<div [ngSwitch]="title">
  <p *ngSwitchCase="'jean'">Este es Jean</p>
  <p *ngSwitchCase="'julian'">Este es Julian</p>
  <p *ngSwitchCase="'camilo'">Este es Camilo</p>
  <!-- Si no hay relación con los otros case, aparecerá este -->
  <p *ngSwitchDefault>No hay match</p>
</div>


<!-- Generar una acción basada en un () esa acción va a ejecutar un método, ese método va a estar sentenciado en
nuestro componente -->
<button (click)="addItem()">Add item</button>

<ul>
  <!-- Cuando se borren todos los elementos sale este contenido -->
  <li *ngIf="items.length === 0">La lista está vacía</li>
  <!-- Elemento que se va a renderizar varias veces es el li -->
  <!-- name es la variable iteradora, puede ser una variable con cualquier nombre -->
  <!-- items es el nombre de nuestra variable de tipo Array -->
  <!-- Para saber la posición dentro de la renderización es con index as i, sabremos la iteración que esta 
  teniendoi -->
  <li *ngFor="let name of items; index as i">
    <!-- La variable iteradora usando String Interpolation -->
    {{ name }} {{ i }}
    <!-- La ubicación del array es el i -->
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<!-- ngFor para recorrer objetos -->
<div *ngFor="let product of products">
  {{ product.title }}
  <img [src]="product.image" alt="">
  {{ product.price }}
</div>